body,
html {
    background-color:aquamarine;
    font-family: monospace;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    text-align: center;
}

#welcome{
    display: inline-block;
    text-align: center;
    width: 70%;
}
.uploader{
    /* display: inline-block; */
    /* margin: 0 auto; */
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: black 1px solid;
    border-radius: 0.5em;
    padding: 0.5em;
    width: 40%;
    /* background-color: antiquewhite; */
    background-color: aquamarine;
    z-index: 110;
}

.uploader h3{
    margin: 0;
    padding: 0;
    margin-bottom: 0.5em;
}

.uploader img{
    width: 7em;
    border-radius: 0.5em;
}

#file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#file + label {
    padding: 0.25em 0.75em;
    border-radius: 0.25em;
    font-weight: bold;
    font-size: 0.85em;
    background-color: black;
    color: aquamarine;
}
#file + label {
    cursor: pointer;
}
#file:focus + label,
#file + label:hover {
    color: yellow;
}
input{
    padding: 0.5em;
    margin-bottom: 0.25em;
    margin-left: 0.25em;
    border: none;
    border-radius: 0.25em;
}

button{
    margin: 1em 0.25em;
    border: none;
    padding: 0.5em 0.75em;
    border-radius: 0.25em;
    font-weight: bold;
    background-color: black;
    color: aquamarine;
}

button:hover {
    color: yellow;
    cursor: pointer;
}

button.close{
    margin: 0;
    position: absolute;
    right: 0.75em;
    /* float: right; */
}

#userPic {
    float: right;
    width: 5em;
}
.overlay{
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.5;
    z-index: 100;
    top: 0;
}

.profile{
    border-top: 1px solid teal;
    padding: 0.5em;
}
.profile img{
    float: left;
    width: 5em;
    padding: 0.25em;
    border: 1px solid teal;
    border-radius: 0.5em;
    background-color: antiquewhite;
}
.friend {
    padding: 0.5em;
    display: inline-block;
}
.friends img {
    width: 4em;
    margin-right: 0.25em;
}
.friends span{
    vertical-align: top;
    display: inline-block;
    height: 100%;
}
.userInfo{
    float: left;
    display: inline-block;
    padding-left: 0.5em;
}
